body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

::selection {
  background: #4FC8E7;
}

::-moz-selection {
  background: #4FC8E7;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.6em;
}

#menu {
  background: #EFEFEF;
  text-align: center;
  padding: 30px 0;

  hr {
    width: 50px;
    border: 0;
    border-bottom: 1px solid #e4e4e4;
    margin: 25px auto;
  }

  nav a {
    margin: 0 2px;
    font-size: 1.05em;
    padding: 4px 8px;

    &.active {
      background: #fff;
      border-radius: 4px;
    }

  }

  .logo {
    color: #5d5d5d;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 1.3em;
  }

}

#content {
  padding: 25px 25px 0;

  h1:first-child {
    margin-top: 0;

    @media (min-width: 768px) {
      font-size: 1.8em;
    }

  }

  article {
    max-width: 600px;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin-top: 20px;
    }

  }

}

#footer {
  margin: 30px auto;
  padding: 0 25px;
  max-width: 600px;

  hr {
    border: 0;
    border-top: 1px solid #69D2E7;
    width: 40px;
    margin: 0;

    @media (min-width: 768px) {
      width: 25px;
    }

  }

  p {
    font-size: 0.9em;
    color: #B6B6B6;
  }

  a {
    text-decoration: underline;
  }

}
