<!DOCTYPE html>
<html>

  <head>
    <title>This is a sample!</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>

  <body>
    <h1>{{greeting}}</h1>
    <script type="text/javascript" src="/assets/app.js"></script>
  </body>

</html>
