<!DOCTYPE html>
<html>

  <head>
    <title>This is a sample!</title>
    <link rel="stylesheet" href="/assets/styles/site.css">
  </head>

  <body>
    {{{body}}}
    <script type="text/javascript" src="/assets/scripts/main.js"></script>
  </body>

</html>
