<!DOCTYPE html>
<html>

  <head>
    {{#if page.title}}
      <title>{{page.title}}</title>
    {{else}}
      <title>{{title}}</title>
    {{/if}}

    <link rel="stylesheet" href="/assets/styles/site.css">
  </head>

  <body>
    {{{body}}}
    <script type="text/javascript" src="/assets/scripts/main.js"></script>
  </body>

</html>
